div{
    	width : 100%;
    	text-align: center;
    	padding: 0px;
		margin: 0px;
		font-style: monospace;
		font-size: 30px;
    }
    #room1,#room2,#room5,#room4{
    	
    	padding: 0px;
		margin: 0px;
		border: 2px solid black; 
    }
    #room1{
    	height: 60%;
    	width : 80%;
    	vertical-align: middle;
    	
    }
    #room2{
    	height: 40%;
    }

    #room3{
    	height: 100%;
    	
    	
    }
    #room4{
    	height: 40%;
    	
    	
    }
    #room5{
    	height: 60%;
    	
    	
    }
    #home{
		width: 100%;
		height: 80%;
		border: 1px solid black;
		
	}
	#door{
		border: 2px solid grey;
	}
    input{
        font-size: 20px;
        padding: 0px 5px;
        margin: 10px;
    }